html {
    font-family: sans-serif;
    background: #fafafa;
}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    padding: 0 1em;
}

a {
    color: #fe0000;
}

a:visited {
    color: #56007f;
}

header {
    font-size: 1.25em;
    text-align: center;
}

header div:first-child {
    color: #3ab19e;
}

header div:last-child {
    color: #007f0e;
}

header h1 {
    font-size: 3em;
}

header p {
    max-width: 925px;
    margin: 1em auto;
}

#list {
    list-style-type: none;
    max-width: 528px;
    margin: 3em auto;
    padding: 0;
}

#list li, #list #nothing {
    padding: 1em;
    cursor: auto;
}

#list li {
    position: relative;
    padding-left: 3em;
    background: #f0f0f0;
    cursor: pointer;
}

ol#list li {
    padding-right: 3em;
}

#list li, #list li:first-child, #list li:last-child, input[type="text"], button, #datalist li {
    border: 1px solid #d0d0d0;
}

#list li:first-child, #list li:last-child, #list li:first-child:last-child, input[type="text"], button, #datalist li:last-child {
    border-radius: 5px;
}

#list li:not(:last-child), #datalist li:not(:last-child) {
    border-bottom: none;
}

#list li:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#list li:last-child, #datalist li:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#list li.voted > i:first-child {
    position: absolute;
    left: 1em;
}

#list li a {
    display: inline-block;
    margin-left: 1em;
    font-weight: bold;
    text-decoration: none;
}

#list li a:hover {
    text-decoration: underline;
}

#list li.voted a {
    color: #fff;
}

#list span {
    position: absolute;
    right: 1em;
}

#nothing {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    color: #fe0000;
    cursor: auto;
}

#add {
    margin: 3em 0;
    text-align: center;
}

#add p {
    max-width: 800px;
    margin: 1em auto;
}

h2 {
    color: #007f0e;
}

input[type="text"] {
    width: 330px;
    margin-right: -.125em;
    padding: 1px .4em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button:not([disabled]), #list li.voted {
    color: #fff;
    background: #007f0e;
    background-clip: padding-box;
    cursor: pointer;
}

input[type="text"], button {
    /*Make text input bigger (font-size) with soldi gray border or some such, green when active. button flat gray when disabled and green when active*/
    font-size: 2em;
}

input[type="text"].datalist {
    border-bottom-left-radius: 0;
}

input[type="text"].datalist + button {
    border-bottom-right-radius: 0;
}

#datalist {
    display: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    border-top: none;
}

#datalist li {
    list-style-type: none;
    padding: 1em;
    background: #fff;
    border-bottom: 1px solid #d0d0d0;
    cursor: pointer;
}

#datalist li:first-child {
    border-top: none;
}

#datalist li:hover {
    background: #f7f7f7;
}

div.r404 {
    visibility: visible;
    position: relative;
    width: 600px;
    height: auto;
    overflow: visible;
    margin: 0 auto;
    background: transparent;
    border: none;
}

div.r404 > * {
    position: relative;
    z-index: 1;
}

div.r404:before, div.r404:after, div.r404 h1:before, div.r404 h1:after {
    content: "";
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.r404:before {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border: 20px solid #f5f5f5;
    border-radius: 7%;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

div.r404:after {
    content: "\2022";
    width: 350px;
    height: 350px;
    margin-top: -175px;
    margin-left: -175px;
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    color: #f5f4f5;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}
