<#{if _sort}ol#{/}#{else}ul#{/} id="list">
#{list items:_arg, as:'game'}
    %{voted = game.votes.contains(new models.Vote(_user, game.objectid))}%
    <li#{if voted} class="voted"#{/} data-id="${game.objectid}">
        #{if voted}
            <i class="fa fa-thumbs-up"></i>
        #{/}
        ${game.name} (${game.yearpublished}) <a href="https://boardgamegeek.com/boardgame/${game.objectid}"><i class="fa fa-link"></i> BGG</a>
        #{if _sort}
            <span>${game.votes.size()}</span>
        #{/}
    </li>
#{/}
#{else}
    <li id="nothing">Nobody has submitted any suggestions yet. :(</li>
#{/else}
</#{if _sort}ol#{/}#{else}ul#{/}>
