#{extends 'main.html' /}
#{set title:'Vote on scheduled games' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/index.js'}"></script>
#{/}
<header>
    <h1>
        <div>Less of this <i class="fa fa-gamepad"></i></div>
        <div>More of this <i class="fa fa-rocket"></i></div>
    </h1>
    <p>
        Advise <a href="${play.Play.configuration['application.us']}">us</a> on what games you would like to see
        scheduled with an official time slot to play at
        <a href="${play.Play.configuration['application.url']}">${play.Play.configuration['application.event']}</a>.
        Click on game to give it a thumbs up.
    </p>
</header>
#{games games, user:user, sort:sort /}
#{if user}
<div id="add">
    <h2>Didn't find anything you like? Send more suggestions our way.</h2>
    <input id="lookup" type="text"> <button id="makeitso" disabled><i class="fa fa-plus"></i></button>
    <ul id="datalist"></ul>
    <p>
        As-you-type suggestions provided by <a href="https://boardgamegeek.com/">BoardGameGeek</a>. Responses may be a
        little slow so please be patient. Games are filtered by an average play time of ≥ 45 minutes and the maximum
        number of players is at least 3. Expansions are not filtered out as some are playable on their own. Where not,
        please choose the base instead.
    </p>
</div>
#{/}
